div{
	background-color: white;
}

p{
	font-family: "Courier New"; color: purple; font-style: italic;
}

h1{
	font-size: 40px; color: purple; font-family: "Passion One"; margin-bottom: 0px;
}

legend{
	font-size: 14px; color: purple; font-family: "Courier New";
}

body{
	background-image: url('background.jpg');
}
