div{
	background-color: #8E41D5;
}

a{
	color: white; font-weight: bold; font-size: 24px;
}

body{
	background-image: url('dark_wood.png');
}

p{
	font-family: "Arial"; color: white; font-weight: bold;
}

h3{
	font-size: 40px; color: #FFBC00; font-family: "Passion One"; margin-bottom: 0px;
}

li{
	list-style-type:none;
}

#Header{
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Header h1{
	font-size: 60px; font-family: "Passion One"; color: #FFBC00; font-weight: bold;

}

#LeftNav{
	padding-bottom: 8px;
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	float: left;
}

#LeftNav img{

}

#LeftNav ul{
	padding-left: 0px;

}

#LeftNav h3{
	font-size: 40px; color: #FFBC00; font-family: "Passion One"; margin-bottom: 0px;
}

#Content{
	padding: 15px;
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Footer{
	text-align: center;
	border: solid 8px black;
}
